.static-image-container {
  position: relative;
  height: 500px;
  width: 100%;
}

.static-image-container .founder__image {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  border-radius: 5px;
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  transform: none !important;
  transition: none !important;
  animation: none !important;
}